<html lang="en" ng-app="PaperGenerator">
<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv=content-type content="text/html; charset=utf-8">

</head>


<!-- libraries-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>

<script type='text/javascript' src='path/to/jquery.min.js'></script>
<script type='text/javascript' src='path/to/angular.min.js'></script>
<script type='text/javascript' src='path/to/ng-infinite-scroll.min.js'></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>

<script src="app.js"></script>
<script src="apps/GeneratorCtrl.js"></script>

<div layout="column" layout-align="stretch stretch">
    <div class="header" layout="row" layout-align="center center">
        <img src="design/новый%20логотип.png" class="logo">
    </div>
    <div class="menu" layout="row" layout-align="center center">
        <div layout="row" layout-align="center center">
            <md-button-group layout="row" layout-sm="column" layout-align="center center" ng-model="data.navigation">
                <md-button target="content" href="cross.html"  class="groupX left"  ng-show="actionLeft1"   ng-click="actionRight1=!actionRight1;  actionLeft1=!actionLeft1;" style="background-color: tomato; color: white;"> Кроссворды</md-button>
                <md-button target="content" href="cross.html" class="groupX left"  ng-show="!actionLeft1"   style="background-color: whitesmoke; color: firebrick;"> Кроссворды</md-button>
                <md-button target="content" href="rules.html" class="groupX right" ng-show="!actionRight1" ng-click="actionLeft1=!actionLeft1; actionRight1=!actionRight1;" style="background-color: tomato; color: white;">Правила</md-button>
                <md-button class="groupX right" ng-show="actionRight1"   style="background-color: whitesmoke; color: firebrick;"> Правила</md-button>
            </md-button-group>
        </div>
    </div>
</div>

</html>

