<html lang="en" ng-app="PaperGenerator">
<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv=content-type content="text/html; charset=utf-8">

</head>


<!-- libraries-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>

<script type='text/javascript' src='path/to/jquery.min.js'></script>
<script type='text/javascript' src='path/to/angular.min.js'></script>
<script type='text/javascript' src='path/to/ng-infinite-scroll.min.js'></script>

<script src="app.js"></script>
<script src="controllers/GeneratorCtrl.js"></script>

<iframe name="header" width="100%" height="20%" scrolling="no" style="border: none;" src="header.html">
</iframe>

<iframe  name="content" width="100%" height="80%" scrolling="auto" style="border: none;" src="cross.html">
</iframe>
</html>